<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>Portland Hacker Foundation</a>
      </h1>
      <p>Building a better future through community-funded innovation</p>
      <p>©2025 Portland Hacker Foundation</p>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Quick Links</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="chat.html">AI Assistant</a></li>
          <li><a href="#ways-to-give">Ways to Give</a></li>
          <li><a href="#mission">Our Mission</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Resources</h4>
        <ul>
          <li><a target="_blank" rel="noopener noreferrer" href="#">Funding Guidelines</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="#">Quarterly Reports</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="#">Past Recipients</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="#">Financial Transparency</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact Information</h4>
      <ul>
        <li>Email: info@pdxhf.org</li>
        <li>Location: Portland, OR USA</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='#'>
            <i class='fa fa-github'></i>
          </a>
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
        <li>
          <a href='#'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class="copyright">
    <p>Portland Hacker Foundation • A 501(c)(3) Non-Profit Organization • All Rights Reserved</p>
  </div>
  <div id="contact" class='two spacing'></div>
</div>