<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          <img alt="Portland Hacker Foundation" src="favicon.ico" width="32" height="32" />
        </a>
      </h1>
      <p>©2025 Portland Hacker Foundation</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Common Pages</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="chat.html">Chat</a></li>
          <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfaRK_Q_D808wyhj5cFVxF1wO9nUbItCgGJQuCJyHfUzVUVjw/viewform">Apply for a Grant</a></li>
          <li><a href="https://www.paypal.com/donate/?hosted_button_id=GP42Y6XNS8ZTA">Become a Sponsor</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Recommended Links</h4>
        <ul>
          <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hackerspace">Hackerspaces</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Hacker_ethic">Hacker Ethic</a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://wiki.hackerspaces.org/Design_Patterns">Design Patterns</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact Information</h4>
      <ul>
        <li>Email: info@pdxhf.org</li>
        <li>Location: Portland, OR USA</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='#'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href='#'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
