<nav class='top-bar'>
  <section class='top-bar-section'>
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="chat.html">CHAT</a></li>
      <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfaRK_Q_D808wyhj5cFVxF1wO9nUbItCgGJQuCJyHfUzVUVjw/viewform">APPLY FOR A GRANT</a></li>
      <li><a href="https://www.paypal.com/donate/?hosted_button_id=GP42Y6XNS8ZTA">BECOME A SPONSOR</a></li>
      <li><a href="https://signal.group/#CjQKICe1IhiChi74GgLGJql1-YcUndkMvRtniTkAygWVlaSWEhAXFtsQRFJPPxtXyodsPbou">JOIN SIGNAL CHAT</a></li>
    </ul>
  </section>
</nav>
