<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portland Hacker Foundation</title>
  
  <!-- Force binary responsive design - only mobile or desktop -->
  <style>
    /* Mobile-first approach - everything is mobile by default */
    @media only screen and (min-width: 769px) {
      /* Only apply desktop styles at exactly 769px and above */
      .desktop-only {
        display: block !important;
      }
    }
    
    /* Anything below 769px gets mobile styles */
    @media only screen and (max-width: 768px) {
      .desktop-only {
        display: none !important;
      }
      
      .banner {
        padding-bottom: 30px;
      }
    }
  </style>
  
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>