<div class='contain-to-grid sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='index.html'>
            <img alt="Portland Hacker Foundation" src="favicon.ico" width="32" height="32" />
            Portland Hacker Foundation
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class="right">
        <li><a href="index.html">Home</a></li>
        <li><a href="chat.html">Chat</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfaRK_Q_D808wyhj5cFVxF1wO9nUbItCgGJQuCJyHfUzVUVjw/viewform">Apply</a></li>
        <li><a href="https://www.paypal.com/donate/?hosted_button_id=GP42Y6XNS8ZTA">Give</a></li>
        <li><a href="https://signal.group/#CjQKICe1IhiChi74GgLGJql1-YcUndkMvRtniTkAygWVlaSWEhAXFtsQRFJPPxtXyodsPbou">Join</a></li>
      </ul>
    </section>
  </nav>
</div>
